/*
Colors used:
Primary Colour (Neon Blue): #5271FF;
Secondary Colour (Pink): #E43397;
Text Colour (Dark Blue): #121640;
Background (white): #FFFFFF
Background (grey): #F1F3F6
Colour (Blue): #4C0BD1;
Colour (Light Pink): #FFF5FA;

*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #121640;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Lato', serif;
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: left;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: left;
}

img {
  width: 100%;
}

/* =================
Links and buttons
====================*/
a {
  color: #5271FF;
  text-decoration: none;
}

a:visited {
  color: #5271FF;
}

a:hover {
  color: #E43397;
  text-decoration: none;
}

a:focus {
  color: #E43397;
  text-decoration: none;
}

a:active {
  color: #E43397;
  text-decoration: none;
}

.item {
  width: 250px;
  margin: 5px;
  position: relative;
}

.button {
  display: inline-block;
  background-color: #F1F3F6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #E43397 !important;
  padding: 10px 20px 10px;
  border-radius: 5px;
  border-left: 2px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s opacity;
  display: flex;
  align-items: center;
  width: 190px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
  ;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
  vertical-align: bottom;
  width: 25px
}

@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.messagebutton {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  background-color: #4C0BD1;
  color: #ffffff !important;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.messagebutton::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.messagebutton:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.messagebutton:hover::after {
  opacity: 1;
}

.messagebutton:active {
  background-color: #4C0BD1;
  color: #ffffff !important;
}

.cvbutton {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  background-color: #E43397;
  color: #ffffff !important;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cvbutton::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cvbutton:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.cvbutton:hover::after {
  opacity: 1;
}

.cvbutton:active {
  background-color: #E43397;
  color: #ffffff !important;
}

/* Layout styling */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.social-links li {
  list-style: none;
  padding: 10px
}

.social-links li img {
  width: 50px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-links li img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-links li img:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.social-links li img:hover::after {
  opacity: 1;
}

.social-links li img:active {
  background-color: #4C0BD1;
  color: #ffffff !important;
}

.row {
  margin: 40px 0;
  background-color: #F1F3F6;
  box-shadow: 4px 4px 10px 0px rgba(148, 148, 180, 0.75);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-blurb {
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
}

#contact {
  background-color: #5271FF;
  text-align: center;
  color: #FFFFFF;
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact .container {
  flex-direction: column;
}

#cv {
  text-align: center;
}

#skills {
  text-align: left;
}

#tools .container {
  max-width: 1200px;
  padding: 0 15px;
  margin-top;
  50px;
  margin-bottom: 50px;
}

.logo {
  width: 40%;
  max-width: 250;
  text-align: left;
  padding: 10px;
}

.contact-icon {
  width: 15%;
  max-width: 75px;
}

.copyright {
  font-size: 0.75em;
  color: #121640;
  margin-top: 100px;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  box-shadow: 4px 4px 10px 0px rgba(148, 148, 180, 0.75);
  position: fixed;
  background-color: #FFFFFF;
  z-index: 100;
}

header .header-container {
  width: 100%;
  padding: 0 15px;
  margin: 0;
  display: flex;
}

nav {
  display: inline-block;
  width: 100%;
  text-align: right;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav {
  display: inline-block;
  width: 100%;
  text-align: right;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: #5271FF;
  position: relative;
  text-decoration: none;
  transition: color .4s ease-out;
}

nav>ul>li>a::after {
  text-transform: uppercase;
  border-radius: 1em;
  border-top: .05em solid #E43397;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .6em;
  left: 0;
  transition: right .4s cubic-bezier(0, .5, 0, 1), border-color .4s ease-out;
}

nav>ul>li>a:hover {
  text-transform: uppercase;
  color: #E43397;
  text-decoration: none;
}

nav>ul>li>a:hover::after {
  text-transform: uppercase;
  border-color: #E43397;
  right: 0;
}

nav>ul>li>a:focus {
  text-transform: uppercase;
  color: #E43397;
  text-decoration: none;
}

nav>ul>li>a:focus::after {
  text-transform: uppercase;
  border-color: #E43397;
  right: 0;
}

nav>ul>li>a:active {
  text-transform: uppercase;
  color: #E43397;
  text-decoration: line-through;
}

main {
  padding-top: 80px;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.thumbnail-image {
  width: 300px;
  height: 220px;
}

/* About page */
.portrait {
  text-align: center;
}

/* Animation */
@keyframes color-change {
  from {
    fill: #F04B56;
  }

  to {
    fill: #0fa632;
  }
}

.tree {
  animation-duration: 15s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes sun-color-change {
  from {
    fill: #ffc400;
  }

  to {
    fill: #ff4000;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: sun-color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud1-move {
  from {
    transform: translate(-100, 50px);
  }

  to {
    transform: translate(100px, 50px);
  }
}

.cloud1 {
  animation-duration: 10s;
  animation-name: cloud1-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud2-move {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}

.cloud2 {
  animation-duration: 10s;
  animation-name: cloud2-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud3-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(-300px, 50px);
  }
}

.cloud3 {
  animation-duration: 20s;
  animation-name: cloud3-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Small devices (under 640px)
================================= */
@media only screen and (max-width: 639px) {
  .thumbnail-image {
    width: 260px;
    height: 200px;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px
  }

  .col-md-6 {
    width: 50%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}
