/*
Colors used:
Primary Colour (Neon Blue): #5271FF;
Secondary Colour (Pink): #E43397;
Text Colour (Dark Blue): #121640;
Colour (Blue): #4C0BD1;
Colour (Light Pink): #FFF5FA;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #121640;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family:'Trirong', serif ;
  font-size: 2.75em;
  font-weight: normal;
  text-align: center;
}

h2 {font-family: 'Montserrat', sans-serif ;
font-size: 2.25em;
font-weight: 700;}


h3 {
  font-size: 1.5em;
  font-weight: 800;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #5271FF;
  text-decoration: none;
}

a:visited {
  color: #5271FF;
}

a:hover {
  color: #E43397;
  text-decoration: none;
}

a:focus {
  color: #E43397;
  text-decoration: none;
}

a:active {
  color: #E43397;
  text-decoration: line-through;
}

.button {
  display: inline-block;
  background-color: #E43397;
  color: #ffffff !important;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #E43397;
  transition: 0.2s opacity;
}

.container {
  max-width: 1200px;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #E43397 !important;
  text-transform: uppercase;
  border: 2px solid #E43397;
}

.button.contact:hover {
  background-color: #E43397;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #E43397;
  color: #E43397 !important;
}


/* Layout styling */

.container {
   max-width: 1200px;
   padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a; }

  #contact {text-align: center;}

  .logo {
  max-width: 250px;
}
