/*
Colors used:
Primary Colour (Neon Blue): #4667ff;
Secondary Colour (Pink): #e40784;
Text Colour (Dark Blue): #121640;
Background (white): #ffffff
Background (grey): #f1f3f6
Colour (Purple): #4c0bd1;
Colour (Light Pink): #FFF5FA;

*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #121640;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Lato', serif;
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  text-align: left;
}

img {
  width: 100%;
}

video {
  max-width: 100%;
}

.video {
  display: flex;
  justify-content: center;
}

/* =================
Links and buttons
==================== */
a {
  color: #4667ff;
  text-decoration: none;
}

a:visited {
  color: #4667ff;
}

a:hover {
  color: #e40784;
  text-decoration: none;
}

a:focus {
  color: #e40784;
  text-decoration: none;
}

a:active {
  color: #e40784;
  text-decoration: none;
}

.item {
  width: 250px;
  margin: 5px;
  position: relative;
}

.purple-project-button {
  background-color: #f1f3f6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #4c0bd1 !important;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s opacity;
  display: flex;
  align-items: center;
  width: 190px;
}

.purple-project-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.pink-project-button {
  background-color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #e40784 !important;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 1s opacity;
  display: flex;
  align-items: center;
  width: 190px;
}

.pink-project-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.moving-arrow {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
  vertical-align: bottom;
  width: 25px;
}

.item {
  margin: 0;
}

@keyframes slide1 {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.purple-project-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.pink-project-button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.purple-project-button:active {
  opacity: 0.8;
  text-decoration: none;
}

.pink-project-button:active {
  opacity: 0.8;
  text-decoration: none;
}

.messagebutton {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  background-color: #4c0bd1;
  color: #ffffff !important;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.messagebutton::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.messagebutton:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.messagebutton:hover::after {
  opacity: 1;
}

.messagebutton:active {
  background-color: #4c0bd1;
  color: #ffffff !important;
}

.cvbutton {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  background-color: #e40784;
  color: #ffffff !important;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cvbutton::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cvbutton:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.cvbutton:hover::after {
  opacity: 1;
}

.cvbutton:active {
  background-color: #e40784;
  color: #ffffff !important;
}

/* Layout styling */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.grey-container {
  width: 100%;
  background-color: #f1f3f6;
}

.grey-container h2 {
  margin-top: 0;
}

.white-container {
  width: 100%;
  background-color: #ffffff;
}

.white-container h2 {
  margin-top: 0;
}

.row1 {
  background-color: #f1f3f6;
  padding: 50px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
}

.row2 {
  background-color: #ffffff;
  padding: 50px;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

#work h1 {
  padding-top: 25px;
  margin-bottom: 0;
}

#work h2 {
  margin-top: 0;
}

#about-blurb h2 {
  text-align: center;
}


.social-links {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.social-links li {
  list-style: none;
  padding: 10px;
}

.social-links li img {
  width: 50px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-links li img::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.social-links li img:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.social-links li img:hover::after {
  opacity: 1;
}

.social-links li img:active {
  background-color: #4c0bd1;
  color: #ffffff !important;
}

#about-blurb {
  padding: 0 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work .row1 .row2 {
  padding: 15px;
}

#contact {
  background-color: #4667ff;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-top: 40px;
}

#contact .container {
  flex-direction: column;
}

#cv {
  text-align: center;
}

#skills {
  text-align: left;
}

#tools .container {
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo {
  width: 170px;
  text-align: left;
  padding: 10px;
}

.drip-logo {
max-width: 100%;
}

.contact-icon {
  width: 15%;
  max-width: 75px;
}

.copyright {
  font-size: 0.75em;
  color: #121640;
  margin-top: 100px;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 9000;
  padding: 10px 0 4px;
  transition: all 0.15s linear;
}

#header.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 9000;
  padding: 10px 0 4px;
  margin: 0;
  top: 0;
}

header .header-container {
  width: 100%;
  padding: 0 15px;
  margin: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  color: #4667ff;
  position: relative;
  text-decoration: none;
  transition: color 0.4s ease-out;
}

nav>ul>li>a::after {
  text-transform: uppercase;
  border-radius: 1em;
  border-top: 0.05em solid #e40784;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.6em;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

nav>ul>li>a:hover {
  text-transform: uppercase;
  color: #e40784;
  text-decoration: none;
}

nav>ul>li>a:hover::after {
  text-transform: uppercase;
  border-color: #e40784;
  right: 0;
}

nav>ul>li>a:focus {
  text-transform: uppercase;
  color: #e40784;
  text-decoration: none;
}

nav>ul>li>a:focus::after {
  text-transform: uppercase;
  border-color: #e40784;
  right: 0;
}

nav>ul>li>a:active {
  text-transform: uppercase;
  color: #e40784;
  text-decoration: line-through;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navtoggle li .icon {
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 0;
}

.navtoggle.responsive li {
  display: block;
  padding-bottom: 30px;
  text-align: right;
}

.navtoggle.responsive li a {
  padding: 0;
}

.navtoggle.responsive li:first-child {
  border: none;
  text-align: right;
}

main {
  padding-top: 59px;
}

[class*="col-"] {
  float: center;
  padding: 10px;
}

.thumbnail-image {
  display: flex;
  justify-content: center;
}

.thumbnail-image img {
  border-radius: 10px;
  max-width: 100%;
}

/* About page */
.portrait {
  display: flex;
  justify-content: center;
}

.portrait img {
  border-radius: 10px;
}

/* Babel page */
.babel-banner img {
  padding: 0;
  width: 100%;
  margin: 0;
}

.babel-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.babel-design-process img {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.babel-user-persona img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.babel-user-flow img {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.babel-wireframes img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.babel-paper-prototype img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.babel-marvel-prototype img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.babel-usability-testing img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* Ink Tank Page */
.inktank-banner {
  padding: 0;
  width: 100%;
  margin: 0;
}

.inktank-design-process img {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-competitor-analysis {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-survey-results {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-user-personas {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-user-journey {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-site-map1 {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-dendrogram {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-similarity-matrix {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-site-map2 {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-site-map3 {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-low-fidelity-prototype {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-high-fidelity-prototype {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-usability-testing {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-preference-testing {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.inktank-visual-design {
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

/* Portfolio website page */

.portfolio-design-process {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-colour-palette {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-typography {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-rounded-corners {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-linter {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-logo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}
.portfolio-homepage {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-about-page {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-project-page {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
    max-width: 100%;
}

.portfolio-contact-section {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.portfolio-navigation-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.portfolio-responsive-project-display {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.portfolio-responsive-navigation {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.portfolio-accessibility {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}


/* Animation */
@keyframes color-change {
  from {
    fill: #f04b56;
  }

  to {
    fill: #0fa632;
  }
}

.tree {
  animation-duration: 15s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes sun-color-change {
  from {
    fill: #ffc400;
  }

  to {
    fill: #ff4000;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: sun-color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud1-move {
  from {
    transform: translate(-100px, 50px);
  }

  to {
    transform: translate(100px, 50px);
  }
}

.cloud1 {
  animation-duration: 10s;
  animation-name: cloud1-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud2-move {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}

.cloud2 {
  animation-duration: 10s;
  animation-name: cloud2-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud3-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(-300px, 50px);
  }
}

.cloud3 {
  animation-duration: 20s;
  animation-name: cloud3-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav {
    display: inline-block;
    width: 100%;
    text-align: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle.responsive li a {
    padding: 15px;
  }

  .navtoggle.responsive li {
    padding: 0;
  }

  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .logo {
    width: 250px;
    text-align: left;
  }

  main {
    padding-top: 78px;
  }

  .cvbutton {
    padding-left: 100px;
    padding-right: 100px;
  }

  .col-md-6 {
    width: 50%;
    padding: 20px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .project-text-box {
    margin-left: 20px;
  }
  
  /* Babel images
  .babel-logo img {
    max-width: 200px;
  }

.babel-user-persona img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.babel-design-process img {
  display: flex;
    justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.babel-wireframes img {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.babel-paper-prototype img {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.babel-marvel-prototype img {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.babel-usability-testing img {
  display: flex;
  justify-content: center;
    max-width: 70%;
    margin: 0 auto;
}
*/
  /* Ink Tank images

  .inktank-design-process img {
    display: flex;
  justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .inktank-competitor-analysis img {
    display: flex;
  justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .inktank-user-personas img {
    display: flex;
  justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .inktank-dendrogram img {
    display: flex;
  justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .inktank-similarity-matrix img {
    display: flex;
  justify-content: center;
    max-width: 75%;
    margin: 0 auto;
  }
  .inktank-visual-design img {
    display: flex;
  justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }
*/
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 58.33%;
    padding: 20px;
  }

  .col-lg-5 {
    width: 41.66%;
    padding: 20px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .thumbnail-image {
    width: 100%;
    padding: 0 20px;
  }

  /* Babel
  .babel-logo img {
    display: flex;
  justify-content: center;
    max-width: 250px;
    margin: 0 auto;
  }
*/
  /* Ink Tank
.inktank-design-process img {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}
*/
}
